body {
    margin: 0;
    min-height: 100vh;
    background-color: #B3B9B4;
    color: #2B2943;
}

.main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 5rem;
}